<div id="mainContent-wrp">
  <div id="mainContent-tit" class="text-center"><h4>{{main.title}}</h4></div>
   <ul>
       <li ng-repeat="item in main.items">
           <feed-item data="item"></feed-item>
           
       </li>
       
   </ul>
    
</div>