body{
padding-top: 50px;
}

li{
    list-style: none;
}
#wrp{
    
   
}
#wrp #url-input-wrp{
    padding: 10px;
    border-bottom: solid 1px #CECECE;
}

#wrp #mainContent-wrp{
    border-left: solid 1px #CECECE;
    min-height: 1200px;
}

#wrp #mainContent-wrp #mainContent-tit{
    margin-bottom: 20px;
}
