<div id="sidebar-wrp">
    <div id="url-input-wrp">
        <form name="urlForm" class="form-inline">
            <div class="form-group">
                <input type="url" class="form-control" id="urlInput" name="urlInput" placeholder="URL input" ng-model="side.inputUrl" required>
            </div>

            <button type="button" class="btn btn-default" ng-click="side.addUrl();" ng-disabled="urlForm.urlInput.$error.url || urlForm.urlInput.$error.required">
                <span class="glyphicon glyphicon-search"></span>
            </button>

            <div role="alert">
                <div class="text-danger" ng-show="urlForm.urlInput.$error.required">
      Required!</div>
                <div class="text-danger" ng-show="urlForm.urlInput.$error.url">
      Not valid url!</div>
            </div>
        </form>
    </div>
    <div id="url-list-wrp">
        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="url in side.urls  | reverse track by $index" ng-class="{'active': url.key == side.selectedUrl.key}" ng-click="side.selectUrl(url)">

                <h5 class="list-group-item-heading">
                <span ng-click="side.removeUrl(url.key);" class="glyphicon glyphicon-remove"></span>
                
                {{url.value}}</h5>
            </a>
        </div>



    </div>
</div>